<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎下单</title>
    <!-- 引入bootstrap的css -->
    <link  href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="/js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="/js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="/js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="/js/fileinput/css/fileinput.min.css" />
    <!-- 引入jquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 引入my97 -->
    <script type="text/javascript" src="/js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="/js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="/js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="/js/fileinput/themes/fa/theme.js"></script>
</head>
<body>
<br>

<form id="pro_from" class="form-inline">

    <b>地区:</b><div class="form-group">
        <select class="form-control" name="area_id" id="prodiqu">
             <option>请选择</option>
        </select>
    </div>


    <div class="form-group">
        <label for="proName">商家店名</label>
        <input type="text" class="form-control" id="proName" placeholder="商家店名">
    </div>
    <br>
    <button type="button" class="btn btn-success" onclick="search()">搜索</button>
    <button type="button" class="btn btn-primary" onclick="reset()">重置</button>
</form>
<!--<button type="button" class="btn btn-info btn-lg" onclick="add()">新增</button>-->


<table id="bootTab" ></table>

</body>
<script type="text/javascript">
    $(function(){
        ProviceBind();
    });

    $(function(){
        $("#bootTab").bootstrapTable({
            border:false,
            url:"findBusiness",
            method:"post",
            striped: true,  	// 斑马线效果     默认false
            //只允许选中一行
            singleSelect:true,
            //选中行是不选中复选框或者单选按钮
            clickToSelect:true,
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId: "imgid",                 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            //发送到服务器的数据编码类型
            contentType:'application/x-www-form-urlencoded;charset=UTF-8',   //数据编码纯文本  offset=0&limit=5
            toolbar:'#tabToolBar',   //  工具定义位置
            columns:[
                /* field 属性值和 对象的属性名保持一致 */
                {field:'id',width:100,title:"商户编号",
                    /*formatter:function(value,row,index){   //  格式化  当前单元格内容
                        return "<input type='checkbox' value="+row.id+" name='chk'/>";
                    }*/
                },
                {field:'storeName',title:'商家名称',width:$(this).width() * 0.1},
                {field:'storeImg',title:'图片',width:100,
                    formatter: function (value,row,index){
                        return "<img  width='80' height='80'  src='"+value+"'/>" ;
                    }
                },
                {field:'xxxx',title:'操作',formatter: function(value,row,index){
                        var content = "<a href='javascript:IntoTheStore(&quot;"+row.id+"&quot;)'>进店</a>";
                        return content;
                    },width:$(this).width() * 0.2}
            ],
            //传递参数（*）
            queryParams: function(params) {
                var whereParams = {
                    /*
                        分页  自定义的参数         默认传 limit（展示几条）    offset（从第几条开始    起始条数）
                    */
                    "pageSize":params.limit,
                    "start":params.offset,

                }
                return whereParams;
            },
            //前台--排序字段
            //sortName:'proPrice',
            //sortOrder:'desc',
            //前台--搜索框
            // search:true,
            //启动回车键做搜索功能
            //searchOnEnterKey:true,
            //分页方式   后台请求的分页方式
            sidePagination:'server',
            pagination: true,                   //是否显示分页（*）
            pageNum: 1,                       //每页的记录行数（*）
            pageSize: 3,                       //每页的记录行数（*）
            pageList: [1,3,6,9,12],        //可供选择的每页的行数（*）
        });
    });
    function  search() {

        if($("#prodiqu").val()!="请选择"){
            $("#bootTab").bootstrapTable("refresh", {
                "query": {
                    "storeName": $("#proName").val(),
                    "area_id" : $("#prodiqu").val(),
                }
            });
        }else{
            alert("请先选择你的地区");
        }

    }
  /*  function  deleteit(id) {
        if (confirm("您确定要删除数据吗？")) {
            $.ajax({
                url: "deletedata?id=" +id,
                type: "post",
                success: function () {
                    alert("删除成功");
                    $("#bootTab").bootstrapTable('refresh');
                }, error: function () {
                }
            });

        }
    }
    function add(){
        dialog("toaddPage","adddata","新增");
    }

    //创建



    /!*
        *发送ajax请求获取jsp页面内容
        *!/
    function getJspHtml(urlStr){
        var  jspHtml = "";
//		 async  (默认: true) 默认设置下，所有请求均为异步请求。如果需要发送同步请求，请将此选项设置为 false。
        //注意，同步请求将锁住浏览器，用户其它操作必须等待请求完成才可以执行。
        $.ajax({
            url:urlStr,
            type:'post',
            //同步的ajax
            async:false,
            success:function(data){
                //alert(data);//data--addProduct.jsp页面内容
                jspHtml = data;
            },
            error:function(){
                bootbox.alert("ajax失败");
            }
        });
        return jspHtml;
    }

    function  dialog(HTMLurl,submitUrl,title){

        var dialog = bootbox.dialog({
            title: title,
            message: getJspHtml(HTMLurl),   //调用方法
            buttons:{
                "save":{
                    label: '保存',
                    //自定义样式
                    className: "btn-success",
                    callback: function() {
                        $.ajax({
                            url:submitUrl,
                            type:'post',
                            data:$("#mongoForm").serialize(),
                            success:function(data){
                                bootbox.alert("保存成功");
                                $("#bootTab").bootstrapTable('refresh');
                            },
                            error:function(){
                                bootbox.alert("ajax失败");
                            }
                        });
                    }
                },
                "unSave":{
                    label: '取消',
                    //自定义样式
                    className: "btn-info",
                    callback: function() {

                    }
                }
            }
        });
    }
*/

    function ProviceBind() {
        //清空下拉数据
        $("#prodiqu").html("");
        var str = "<option>请选择</option>";
        $.ajax({
            type: "POST",
            url: "findArea",
            success: function (data) {
                //从服务器获取数据进行绑定

                $.each(data, function (i, item) {
                    str += "<option value=" + item.id + ">" + item.areaName + "</option>";
                })
                //将数据添加到省份这个下拉框里面
                $("#prodiqu").append(str);
            },
            error: function () { alert("Error"); }
        });
    }
       function IntoTheStore(id){
        location.href="inStore?id="+id;
       }


</script>
</html>