<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>订单状态</title>
    <link rel="stylesheet" href="/js/easyui1.5/themes/icon.css">
    <link rel="stylesheet" href="/js/easyui1.5/themes/default/easyui.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>
    <link rel="stylesheet" href="/bootstrap/bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap/bootstrap-table/bootstrap-table.css"/>
    <link rel="stylesheet" href="/bootstrap/bootstrap-fileinput/css/fileinput.css"/>
    <script src="/js/easyui1.5/jquery.min.js"></script>
    <script src="/js/easyui1.5/jquery.easyui.min.js"></script>
    <script src="/js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
    <script src="/bootstrap/easyui1.5/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <script src="/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/bootstrap/bootbox/bootbox.all.min.js"></script>
    <script src="/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>

</head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',title:'订单状态'" style="width: 35%"><!--左边-->
        <!--订单状态查询展示-->
        <table id="orderTable"></table>
    </div>

    <div data-options="region:'center',title:'在线骑手',footer:'#footer'"><!--中间-->
        <!--查询骑手展示-->
        <table id="horsemanTable"></table>
    </div>

    <div data-options="region:'east',title:'离线骑手'" style="width: 30%"><!--右边-->
        <!--查询骑手表状态为0-->
        <table id="horsemanStatusTable"></table>
    </div>
</div>
</body>
<script>
    /*页面加载*/
    $(function () {
        initOrderTable();/*订单信息*/
        initHorsemanTable()/*骑手信息*/
        initHorsemanStatusTable();/*骑手状态为0的*/
    })
    /*订单查询展示*/
    function initOrderTable() {
        $("#orderTable").bootstrapTable({
            url: '/findOrderList',
            toolbar: '#toolbar',
            pagination: false, //是否展示分页
            pageList: [3, 5, 10, 20, 50],//分页组件
            pageNumber: 1,
            pageSize: 3,//默认每页条数
            //解决条查乱码
            method: "post",
            contentType: "application/x-www-form-urlencoded",
            //传递参数,条件查询,分页传参
            queryParams: function () {
                /*var stationName = $("#stationName").val();//图书名条件查询*/
                return {
                    //有分页的固定传值
                    page: this.pageNumber,
                    rows: this.pageSize,
                    //条查传值
                   /* stationName: stationName*/
                }
            },
            sidePagination: 'server',
            columns: [
                {field:'orderNum',
                    formatter:function(value,row,index){   //  格式化  当前单元格内容
                        return "<input type='checkbox' value="+value+" name='chk'/>";
                    }
                },
                {field: 'orderNum', title: '订单号'},
                {field: 'orderMoney', title: '订单总价'},
                {field: 'msg', title: '订单备注'},
                {field: 'orderStartTime', title: '下单时间'},
                {field: 'orderEndTime', title: '订单完成时间'},
                {field: 'horseStatus', title: '状态',formatter:function (value,row,index) {
                        return "待指派"
                    }}
            ]
        })
    }

    /*骑手查询*/
    function initHorsemanTable() {
        $("#horsemanTable").bootstrapTable({
            url: '/findHorsemanList',
            toolbar: '#toolbar',
            //解决条查乱码
            method: "post",
            contentType: "application/x-www-form-urlencoded",
            sidePagination: 'server',
            columns: [
                {field: 'horsemanName', title: '骑手姓名'},
                {field: 'horsemanPhone', title: '骑手电话'},
                {field: 'orderCount', title: '骑手背单数'},
                {
                    field: 'ccc', title: '操作', formatter: function (value, row, index) {
                        return '<a href="javascript:zhiPai(&quot;' + row.id + '&quot;)">指派</a>'
                    }
                }
            ]
        })
    }
    /*指派*/
    function zhiPai(id){
        var arr =  $("input[name='chk']:checked");
        var str= "";
        arr.each(function(){
            str+=","+this.value;
        })
        var checked=str.substr(1);
        $.ajax({
            url:"addOrderHoresman?check="+checked+"&horesmanId="+id,
            type:"post",
            success:function () {
                alert("指派成功");
                location.href="/toFindOrderList"//刷新
            },
            error:function () {
                alert("指派失败");
            }
        })
    }


    /*骑手查询状态为0的*/
    function initHorsemanStatusTable() {
        $("#horsemanStatusTable").bootstrapTable({
            url: '/findHorsemanStatus',
            toolbar: '#toolbar',
            //解决条查乱码
            method: "post",
            contentType: "application/x-www-form-urlencoded",
            sidePagination: 'server',
            columns: [
                {field: 'horsemanName', title: '骑手姓名'},
                {field: 'horsemanPhone', title: '骑手电话'},
                {
                    field: 'ccc', title: '操作', formatter: function (value, row, index) {
                        return '<a href="javascript:tiXing(&quot;'+row.horsemanPhone+'&quot;)">提醒上线</a>'
                    }
                }
            ]
        })
    }
    /*点击提醒上线*/
    function tiXing(horsemanPhone){
        $.ajax({
            url:'/duanXin',
            type:'post',
            data:{
                horsemanPhone:horsemanPhone
            },
            dataType:'json',
            success:function (data) {
                if(data.code==0){
                    alert(data.msg);
                }
            }
        })
    }
</script>
</html>